:root {
  --main-emerald-500: #10b981;
  --main-bg-gray-50: #d9d9d9;
  --color-background: #fafafa;
  --box-shadow-main: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --box-shadow-large: box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --text-dark-main: #171717;
  --text-light-gray: #262626;
  --text-light-green: #ecfdf5;
  --text-extra-light: #737373;

  /* main padding for container large screen */
  --page-width-large: 1300px;
  --border-radius-top: 8px 8px 0 0;
  --border-radius-bottom: 0 0 8px 8px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  overflow-x: hidden;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
